.dropdown {
  position: absolute;
  top: 100%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  border-width: 1px;
  width: 6rem;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.dropdown-content:hover {
  background-color: #ecedee;
  cursor: pointer;
}

.dropdown-content > button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: #70757a;
}
